/* .demo-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .demo-bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 1535px;
    height: 729px;
  } */
new
form{
    margin-top: 150px;
    margin-left: 500px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(210, 15, 15) solid 5px;
    border-radius: 20px;
    background-color: transparent;
    height: 450px;
    width: 600px;
    
}

label{
    color: black;
    font-size: 24PX;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    color:black;
    margin-top: px;
}

#username{
    margin-top: 10px;
    align-items:center ;
    margin-left: 90px;
}

#password{
    margin-top: 5px;
    margin-left: 90px;
}

button{
    align-items: center;
    margin-top:30px;
    margin-left: 150px;
    cursor: pointer;
    border: black solid;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    background-color: red;
}

.forcre{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
